rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow client read and write access for device push token registration
    match /deviceTokens/{token} {
      allow read, write: if true;
    }

    // Allow client read and write for live breaking news articles
    match /articles/{articleId} {
      allow read, write: if true;
    }

    // Allow client read and write for version monitoring / remote config
    match /config/{configId} {
      allow read, write: if true;
    }
  }
}
